.loader {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: lemonchiffon;
}

.loaderText {
  font-weight: 500;
}

.loaderDots {
  position: relative;
  height: 40px;
  width: 40px;
  margin-bottom: 2rem;
  animation: dots 2.5s infinite linear both;
}

.loaderDot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: dot 2.0s infinite ease-in-out both;

  &::before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: lemonchiffon;
    border-radius: 100%;
    animation: dot-before 2.0s infinite ease-in-out both;
  }
}

.loaderDot:nth-child(1) { animation-delay: -1.1s; }
.loaderDot:nth-child(2) { animation-delay: -1.0s; }
.loaderDot:nth-child(3) { animation-delay: -0.9s; }
.loaderDot:nth-child(4) { animation-delay: -0.8s; }
.loaderDot:nth-child(5) { animation-delay: -0.7s; }
.loaderDot:nth-child(6) { animation-delay: -0.6s; }
.loaderDot:nth-child(1):before { animation-delay: -1.1s; }
.loaderDot:nth-child(2):before { animation-delay: -1.0s; }
.loaderDot:nth-child(3):before { animation-delay: -0.9s; }
.loaderDot:nth-child(4):before { animation-delay: -0.8s; }
.loaderDot:nth-child(5):before { animation-delay: -0.7s; }
.loaderDot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes dots {
  100% { transform: rotate(360deg); }
}

@keyframes dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes dot-before {
  50% {
    transform: scale(.4);
  } 100%, 0% {
    transform: scale(.8);
  }
}
