.panelContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  background-color: var(--dark-overlay-background);
  transform: translateY(100%);
  backdrop-filter: blur(10px);

  &Open {
    @extend .panelContainer;
    transform: translateY(0);
    transition: transform .3s ease-out;

    @media (orientation: 'landscape') {
      max-height: 50vh;
    }
  }

  &ListOpen {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(0deg, var(--dark-overlay-background) 0%, hsla(0,0%,0%, 0) 100%);
      pointer-events: none;
    }
  }

  @media screen and (min-width: 1300px) {
    left: initial;
    min-width: 300px;
    max-width: 600px;
    max-height: 60vh;
    border: 1px solid var(--dark-blue);

    &Open {
      right: 2rem;
      bottom: 2rem;
    }
  }
}

.panelHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 0.25rem;
  padding: 1rem 1.5rem;
  background-color: var(--dark-overlay-background);
  border-bottom: 1px solid var(--dark-blue);

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: inherit;
  }
}

.nodeName {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    font-size: 2rem;
    margin-bottom: .25rem;
  }
}

.nodeType {
  display: flex;
  align-items: center;
  font-size: .75rem;
  font-weight: 600;

  svg {
    margin-right: .5rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}

.connectionsToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem 1rem;
  font-size: .75rem;
  color: royalblue;
  background-color: var(--dark-blue);
  border-radius: .5rem;

  svg {
    width: 24px;
    height: 24px;
    margin-left: .25rem;
    fill: royalblue;
  }

  @media screen and (min-width: 1300px) {
    display: none;
  }
}

.connectionsList {
  display: none;

  &Open {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    font-size: 1rem;

    svg {
      display: flex;
      width: var(--icon-size);
      height: var(--icon-size);
      fill: inherit;
    }
  }
}

.connectionItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: .25rem .75rem;
  align-items: center;
  margin-bottom: 1rem;
}

.connectionType {
  font-size: .75rem;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}

.connectionTypeIcon {
  display: flex;
}

.connectionName {
  grid-column: 2 / -1;
  font-size: 1.1rem;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}