html {
  background-color: var(--scene-background);
}

html, body, #app, main {
  height: 100%;
}

body {
  color: var(--main-text);
  font-family: -apple-system,BlinkMacSystemFont, Arial, "Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

*, *:after, *::before {
  -webkit-tap-highlight-color: transparent !important;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main-text);
  transition: background-color 5000s ease-in-out 0s;
}
