:root {
  // Colors
  --scene-background: hsla(250, 50%, 8%, 1);
  --dark-overlay-background: hsla(250, 50%, 6%, .95);
  --dark-blue: hsl(245deg 47% 12%);
  --main-text: ghostwhite;
  --grey-light: hsl(0, 0%, 45%);

  // Borders
  --border-radius-base: .5rem;
  --border-radius-rounded: 50rem;

  // Icons
  --icon-size: 24px;

  @media screen and (min-width: 768px) {
    --icon-size: 36px;
  }
}