$inputHeight: 2.5rem;


.searchBarWrapper {
  display: flex;
  align-items: center;
  height: $inputHeight;
  padding: .25rem 1rem;
  background-color: var(--dark-blue);
  border: 1px solid var(--scene-background);
  border-radius: var(--border-radius-rounded);
}

.searchBarInput {
  flex: 1 1 auto;
  height: $inputHeight;
  background-color: var(--dark-blue);
  border: none;
  border-radius: var(--border-radius-rounded);
  color: var(--main-text);

  @include textOverflowEllipsis();
}

.searchIconWrapper {
  display: flex;
  background-color: transparent;

  &:not(:last-child) {
    margin-right: .5rem;
  }
}