.headerContainer {
  z-index: 1;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: flex-start;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    padding: 2rem;
  }
}

.headerTitle {
  --title-size: 1.25rem;
  --title-spacing: 1rem;

  margin: 0;
  margin-left: auto;
  margin-right: var(--title-spacing);
  font-size: var(--title-size);
  font-weight: 600;
  line-height: 1.15;

  @media screen and (min-width: 768px) {
    --title-size: 2rem;
    --title-spacing: 2.5rem;
  }
}

.headerControls {
  --controls-spacing: 1rem;

  display: inline-flex;
  flex: 0 1 auto;

  &:not(:last-child) {
    margin-right: .75rem;
  }

  &:first-child {
    margin-right: var(--controls-spacing);
  }

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  @media screen and (min-width: 768px) {
    --controls-spacing: 4rem;
  }
}