.navBarContainer {
  z-index: 2;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: grid;
  grid-template-columns: minmax(auto, 24px) 1fr auto;
  grid-template-rows: auto auto auto 1fr;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 2rem;
  overflow: auto;
  overscroll-behavior-y: contain;
  background-color: var(--dark-overlay-background);
  backdrop-filter: blur(10px);
  transform: translateX(-100%);
  transition: transform .3s ease-out;

  @media screen and (min-width: 1300px) {
    max-width: 25%;
    grid-gap: 2rem 1rem;
  }

  &Open {
    @extend .navBarContainer;
    transform: translateX(0px);
    transition: transform .25s ease-out;
  }
}

.logo {
  height: var(--icon-size);
  width: var(--icon-size);
}

.siteTitle {
  align-self: baseline;
  font-size: 1.5rem;
  font-weight: 600;
  color: lemonchiffon;

  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }
}

.closeIcon {
  position: sticky;
  top: 0;
  display: flex;
  align-self: flex-start;

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &:after {
    content: '';
    position: absolute;
    height: calc(var(--icon-size) * 2);
    width: calc(var(--icon-size) * 2);
    background-color: transparent;
    transform: translate(
      calc(var(--icon-size) * -.5),
      calc(var(--icon-size) * -.5)
    );
  }
}

.siteDescription {
  grid-column: 1 / -1;
  padding-bottom: 1.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 300;
  font-style: italic;
  border-bottom: 2px solid var(--dark-blue);

  @media screen and (min-width: 768px) {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}

.wikipediaLink {
  margin-left: .5rem;
  font-weight: 600;
  font-style: normal;
  color: dodgerblue;
}

.searchBarWrapper {
  position: sticky;
  top: -.75rem;
  grid-column: 1 / 3;
  margin-bottom: .5rem;

  @media screen and (min-width: 768px) {
    top: -.4rem;
  }
}

.loader {
  grid-column: 1 / -1;
}

.networkList {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  li {
    margin-bottom: 2rem;
  }
}

.networkTitle {
  font-size: 1.25rem;
  text-align: left;
  color: var(--main-text);
  background-color: transparent;

  &Selected {
    @extend .networkTitle;
    font-weight: 600;
    color: orange;
  }
}

.noResultsMessage {
  grid-column: 1 / -1;
  align-self: start;
  justify-self: center;
  color: var(--grey-light);
}
